<header [class.whiteBg]="whiteBg" [class.scrolled]="scrolled">
    <div class="innerHeader">
        <div class="bodyCont">
            <nav class="d-flex" #nav [class.scrolled]="scrolled">
                <a routerLink="/" class="logo">
                    <img src="assets/images/logo-white.svg" alt="Pavypay" />
                    <img src="assets/images/logo.svg" alt="Pavypay" />
                </a>
                <div
                    class="menuPar d-flex flex-grow-1"
                    [class.opened]="dropOpened"
                >
                    <ul class="menuCont d-flex">
                        <!-- <li>
                            <a
                                routerLink="/"
                                routerLinkActive="activeLink"
                                [routerLinkActiveOptions]="{ exact: true }"
                            >
                                <span>Products</span>
                            </a>
                        </li> -->
                        <li>
                            <a
                                routerLink="/developers"
                                routerLinkActive="activeLink"
                            >
                                <span>Developers</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/pricing">
                                <span>Pricing</span>
                            </a>
                        </li>
                        <li class="desktop">
                            <a href="javascript:void(0)">
                                <span>Learn</span>
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a routerLink="/about">
                                        <div>About Us</div>
                                        <small
                                            >Learn more about our mission</small
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/blog">
                                        <div>Blog</div>
                                        <small
                                            >Learn more about online
                                            payment</small
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/blog/details/1/what-is-escrow-"
                                    >
                                        <div>What is escrow?</div>
                                        <small>Learn how escrow works</small>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile">
                            <app-cus-accordion>
                                <a
                                    class="accHead cusCollapsed"
                                    href="javascript:void(0)"
                                >
                                    <span>Learn</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="accBody">
                                    <ul class="submenu">
                                        <li>
                                            <a routerLink="/about">
                                                <div>About Us</div>
                                                <small
                                                    >Learn more about our
                                                    mission</small
                                                >
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/blog">
                                                <div>Blog</div>
                                                <small
                                                    >Learn more about online
                                                    payment</small
                                                >
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/blog/details/1/what-is-escrow-">
                                                <div>What is escrow?</div>
                                                <small
                                                    >Learn how escrow
                                                    works</small
                                                >
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </app-cus-accordion>
                        </li>
                    </ul>
                    <div class="authCont d-flex align-items-center">
                        <!-- <a routerLink="/login" class="primBtn">
                            <span>Sign in</span>
                            <i class="fa fa-angle-right"></i>
                        </a> -->
                        <a href="https://play.google.com/store/apps/details?id=com.pavypay" target="_blank" class="primBtn">
                            <span>Get Started</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="rightSide align-items-center">
                    <!-- <a routerLink="/login" class="primBtn">
                        <span>Sign in</span>
                        <i class="fa fa-angle-right"></i>
                    </a> -->
                    <a href="https://play.google.com/store/apps/details?id=com.pavypay" target="_blank" class="primBtn">
                        <span>Get Started</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <div
                        class="toggleCont"
                        [class.opened]="dropOpened"
                        (click)="dropOpened = !dropOpened"
                    >
                        <div class="innerToggle">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
