<app-page-head pageTitle="Orders"></app-page-head>
<main>
    <div id="tableCont">
        <div id="topActions">
            <div class="searchCont">
                <input type="text" placeholder="Search orders..." />
                <svg-icons name="search"></svg-icons>
            </div>
            <custom-select
                placeholder="Status: All"
                [options]="filterOpts"
                [fc]="filteredVal"
            >
                <div class="option" *ngFor="let option of filterOpts">
                    {{ option?.txt }}
                </div>
            </custom-select>
        </div>
        <div class="table-responsive">
            <app-group-accordion [listener]="accListener">
                <table>
                    <thead>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Order Id</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Store</th>
                        <th>OrderType</th>
                        <th>Status</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <app-cus-accordion
                            *ngFor="let ord of objectFiltered; let i = index"
                            (openEv)="accListener.next(i)"
                        >
                            <div
                                routerLink="/orders/details/{{
                                    ord?.id
                                }}"
                                class="accHead cusCollapsed"
                            >
                                <tr>
                                    <td>
                                        <div class="ellipsis">
                                            {{ ord.id }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ellipsis">
                                            {{
                                                ord.date_created
                                                    | date : 'dd/MM/yyyy'
                                            }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ellipsis">
                                            {{ ord.order_id }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ellipsis">
                                            {{ ord.item }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ellipsis">
                                            {{ ord.amount }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ellipsis">
                                            {{ ord.str_name }}
                                        </div>
                                    </td>

                                    <td>
                                        <div class="ellipsis">
                                            {{ ord.order_type }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="status {{ ord.status }}">
                                            <span></span>
                                            <span>{{ ord.status }}</span>
                                        </div>
                                    </td>
                                    <td class="action">
                                        <div>
                                            <div
                                                (click)="
                                                    stopPropagation($event)
                                                "
                                                class="accToggle dropOpener"
                                            >
                                                <svg-icons
                                                    name="caret-down-light"
                                                ></svg-icons>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="accBody">
                                <div class="table-responsive hasChildren">
                                    <table>
                                        <thead>
                                            <th>#</th>
                                            <th>SKU</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>Disc.</th>
                                            <th>Total</th>
                                            <th>
                                                <div
                                                    class="d-flex align-items-center"
                                                >
                                                    <svg-icons
                                                        name="print"
                                                    ></svg-icons>
                                                    <span>Printed</span>
                                                </div>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="
                                                    let prod of ord?.products
                                                "
                                                routerLink="/products/details/{{
                                                    prod?.id
                                                }}"
                                                class="pointerF"
                                            >
                                                <td>
                                                    <div class="ellipsis">
                                                        {{ prod.id }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="ellipsis">
                                                        {{ prod.sku }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="ellipsis">
                                                        {{ prod.product_name }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="ellipsis">
                                                        {{ prod.price }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="ellipsis">
                                                        {{ prod.qty }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div
                                                        class="ellipsis priCol"
                                                    >
                                                        {{ prod.disc }}%
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="ellipsis">
                                                        {{
                                                            (prod.disc / 100) *
                                                                prod.price
                                                        }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div
                                                        class="cusDropdown tableDataDropdwn"
                                                    >
                                                        <div
                                                            appDropdown
                                                            class="clickable"
                                                        >
                                                            <svg-icons
                                                                name="vEllipsis"
                                                            ></svg-icons>
                                                        </div>
                                                        <div class="dropped">
                                                            <div
                                                                class="dropItem"
                                                                routerLink="/details"
                                                            >
                                                                View
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="summary">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="greyTxt">
                                                        Sub-total
                                                    </div>
                                                    <div class="greyTxt">
                                                        Shipping
                                                    </div>
                                                    <div class="greyTxt">
                                                        Discount
                                                    </div>
                                                    <div class="greyTxt">
                                                        Tax
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>₦2,847.96</div>
                                                    <div>₦5.50</div>
                                                    <div class="priCol">
                                                        ₦150.32
                                                    </div>
                                                    <div>₦2647.32</div>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </app-cus-accordion>
                    </tbody>
                </table>
            </app-group-accordion>
        </div>
        <app-pagination-parent
            [limit]="limit"
            [page]="page"
            [count]="count"
            (setPage)="onSetPage($event)"
        ></app-pagination-parent>
    </div>
</main>
