layout ::ng-deep main{
    margin: 0;
    border-radius: 0;
    border: none;
}
.gridView{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    padding: 40px;
    .leftSide{
        .userProf {
            
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            border: 1px solid #d6d9de;
            padding: 46px 88px;
    
            .userImg {
                padding: 6px;
                border-radius: 100%;
                border: 1px solid #f8253a;
                margin-bottom: 12px;
                position: relative;
                img {
                    width: 118.3px;
                    height: 119.32px;
                    // object-fit: cover;
                    border-radius: 50%;
                    position: relative;
                }
                .edit{
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    background-color: #f8253a;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 60%;
                    left: 70%;
                }
            }
            .status {
                margin-top: 15px;
                padding: 7px 15px;
                background-color: #ffe5e7 !important;
                display: flex;
                align-items: center;
                justify-self: center;
            }
            .btnCont {
                margin-top: 30px;
                padding: 7px 20px !important;
            }
        }
        .contactDet{
            border-radius: 10px;
            margin-top: 20px;
            border: 1px solid #d6d9de; 
            padding: 40px;
            .mail div, .location div, .phone div{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                &:first-child{
                    padding-right: 10px;
                }
            }
        }

    }
    .rightSide{
        height: 100%;
        border: 1px solid #d6d9de;
        border-radius: 10px;
        form {
            padding: 20px;
            display: flex;
            flex-grow: 1;
            .formBody {
                flex-grow: 1;
                .edit {
                    width: 100%;
                    display: flex;
                    flex-grow: 1;
                    gap: 15px;
                    .left {
                        width: 50%;
                    }
                    .right {
                        width: 50%;
                    }
                }
                .actions {
                    display: flex;
                    width: 50%;
                    gap: 8px;
                    
                }
            }
        }
    }
}
