form {
    max-width: 607px;
}
.gridCont {
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;
    .formGroup {
        flex: 1 200px;
        width: 200px;
    }
}
.inputGroup {
    display: flex;
    .iconCont {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e5e5e5;
        color: #292931;
        width: 45px;
        min-width: 45px;
        border-radius: 5px 0 0 5px;
    }
    input {
        border-radius: 0 5px 5px 0;
    }
}
.btnCont {
    display: flex;
    gap: 12px;
    margin-top: 35px;
    button,
    ::ng-deep .primBtn {
        width: 137px !important;
    }
}
