<app-page-head pageTitle="Add Product"></app-page-head>
<main>
    <div class="formFlex">
        <div class="largePart">
            <div class="paneHead">Product Information</div>
            <div class="paneBody">
                <div class="formGroup">
                    <label class="req" for="">Product name</label>
                    <div class="cusDropdown">
                        <div class="clickable">
                            <input type="text" [formControl]="f('name')" />
                        </div>
                        <div class="dropped">
                            <div class="dropItem"></div>
                        </div>
                    </div>
                </div>
                <div class="fieldFlex mb20">
                    <div class="formGroup">
                        <label class="req" for="">Category</label>
                        <custom-select
                            [fc]="f('category')"
                            [options]="categories"
                            uniqueId="productSelect"
                        >
                            <div *ngFor="let o of categories" class="option">
                                {{ o?.txt }}
                            </div>
                        </custom-select>
                    </div>
                    <div class="formGroup">
                        <label class="req" for=""
                            >Short description(300 characters max)</label
                        >
                        <input type="text" [formControl]="f('overview')" />
                    </div>
                </div>
                <div class="formGroup">
                    <label class="req" for="">Full description*</label>
                    <textarea
                        [formControl]="f('description')"
                        rows="5"
                    ></textarea>
                </div>
                <div class="fieldFlex mb20">
                    <div class="formGroup">
                        <label for="" class="req">Regular price</label>
                        <div class="inputCont preIcon price">
                            <div>₦</div>
                            <input
                                type="number"
                                [formControl]="f('regular_price')"
                            />
                        </div>
                    </div>
                    <div class="formGroup">
                        <label for="">Discount price</label>
                        <div class="inputCont preIcon price">
                            <div>₦</div>
                            <input
                                type="number"
                                [formControl]="f('discount_price')"
                            />
                        </div>
                    </div>
                </div>
                <div class="fieldFlex mb20">
                    <div class="formGroup">
                        <label for="">SKU</label>
                        <input type="text" [formControl]="f('sku')" />
                    </div>
                    <div class="formGroup">
                        <label for="">Warranty</label>
                        <div class="inputCont warranty">
                            <input
                                type="number"
                                [formControl]="f('warranty')"
                            />
                            <custom-select
                                [options]="warranties"
                                [fc]="f('warranty_unit')"
                                uniqueId="productSelect warrantySelect"
                            >
                                <div
                                    *ngFor="let o of warranties"
                                    class="option"
                                >
                                    {{ o?.txt }}
                                </div>
                            </custom-select>
                        </div>
                    </div>
                </div>
                <div
                    *ngFor="let s of f('stores').controls; let i = index"
                    class="fieldFlex storeInfo"
                >
                    <div class="formGroup">
                        <label for="" class="req">Choose Store</label>
                        <custom-select
                            [options]="stores"
                            [fc]="s.controls.store"
                            uniqueId="productSelect"
                        >
                            <div *ngFor="let o of stores" class="option">
                                {{ o?.txt }}
                            </div>
                        </custom-select>
                    </div>
                    <div class="formGroup">
                        <label for="" class="req">Quantity</label>
                        <input
                            type="number"
                            [formControl]="s.controls.quantity"
                        />
                    </div>
                    <div
                        *ngIf="f('stores').length > 1"
                        (click)="delStore(i)"
                        class="delStore"
                    >
                        <svg-icons name="delete"></svg-icons>
                    </div>
                </div>
                <div (click)="addStore()" class="txtBtn priCol">Add Store</div>
            </div>
        </div>
        <div class="smallPart">
            <div (click)="pickImg(0)" class="mainImg">
                <img
                    *ngIf="f('images').value[0]"
                    [src]="f('images').value[0] | safeUrl"
                    alt="Product Img1"
                />
                <div *ngIf="!f('images').value[0]" class="desc">
                    <div class="circleIcon">
                        <svg-icons name="picturePlus"></svg-icons>
                    </div>
                    <div class="txt">
                        <span class="priCol">Click to upload</span> or drag and
                        drop
                        <div>SVG, PNG, JPG or GIF (max. 800x400px)</div>
                    </div>
                </div>
                <div *ngIf="f('images').value[0]" class="imgOverlay">
                    <div (click)="delImg(0, $event)" class="delIconBtn">
                        <svg-icons name="delete"></svg-icons>
                    </div>
                    <div class="circleIcon">
                        <svg-icons name="picturePlus"></svg-icons>
                    </div>
                    <span>Browse Image</span>
                </div>
            </div>
            <div class="imgFlex">
                <div
                    (click)="!f('images').value[0] ? null : pickImg(1)"
                    [class.disabled]="!f('images').value[0]"
                    class="eachImg"
                >
                    <img
                        *ngIf="f('images').value[1]"
                        [src]="f('images').value[1] | safeUrl"
                        alt="Product Img1"
                    />
                    <div *ngIf="!f('images').value[1]" class="circleIcon">
                        <svg-icons name="picturePlus"></svg-icons>
                    </div>
                    <div *ngIf="f('images').value[1]" class="imgOverlay">
                        <div (click)="delImg(1, $event)" class="delIconBtn">
                            <svg-icons name="delete"></svg-icons>
                        </div>
                        <div class="circleIcon">
                            <svg-icons name="picturePlus"></svg-icons>
                        </div>
                        <span>Browse Image</span>
                    </div>
                </div>
                <div
                    (click)="!f('images').value[1] ? null : pickImg(2)"
                    [class.disabled]="!f('images').value[1]"
                    class="eachImg"
                >
                    <img
                        *ngIf="f('images').value[2]"
                        [src]="f('images').value[2] | safeUrl"
                        alt="Product Img1"
                    />
                    <div *ngIf="!f('images').value[2]" class="circleIcon">
                        <svg-icons name="picturePlus"></svg-icons>
                    </div>
                    <div *ngIf="f('images').value[2]" class="imgOverlay">
                        <div (click)="delImg(2, $event)" class="delIconBtn">
                            <svg-icons name="delete"></svg-icons>
                        </div>
                        <div class="circleIcon">
                            <svg-icons name="picturePlus"></svg-icons>
                        </div>
                        <span>Browse Image</span>
                    </div>
                </div>
            </div>
            <div id="specification" class="mt20">
                <div class="paneHead">Specification</div>
                <div class="paneBody">
                    <div class="formGroup">
                        <label for="">Brand name</label>
                        <input type="text" [formControl]="f('brand')" />
                    </div>
                    <div class="fieldFlex">
                        <div class="formGroup">
                            <label for="">Size(L*W*H, inches)</label>
                            <input type="text" [formControl]="f('size')" />
                        </div>
                        <div class="formGroup">
                            <label for="">Weight. kg</label>
                            <input type="text" [formControl]="f('weight')" />
                        </div>
                        <div class="formGroup">
                            <label for="">Colors</label>
                            <div class="inputCont color">
                                <input
                                    type="text"
                                    [value]="f('color').value"
                                    [formControl]="f('color')"
                                />
                                <input
                                    type="color"
                                    [value]="f('color').value"
                                    [formControl]="f('color')"
                                />
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="">Barcode</label>
                            <div class="inputFlex">
                                <input
                                    type="text"
                                    [formControl]="f('barcode')"
                                />
                                <button type="button" class="greyOutlineBtn">
                                    <svg-icons name="barcode"></svg-icons>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pageFormBtnCont">
        <submit-btn
            btnTxt="Submit"
            [loading]="submitting"
            [disabled]="form.invalid"
        ></submit-btn>
        <button class="greyBtn">Cancel</button>
    </div>
</main>
