<app-page-head pageTitle="General Settings"></app-page-head>
<div id="tabCont">
    <a
        routerLink="/general-settings/company-info"
        routerLinkActive="activeTab"
        class="eachTab"
        >Company's Info</a
    >
    <a
        routerLink="/general-settings/customization"
        routerLinkActive="activeTab"
        class="eachTab"
        >Customization</a
    >
    <a
        routerLink="/general-settings/app-settings"
        routerLinkActive="activeTab"
        class="eachTab"
        >App Settings</a
    >
    <a
        routerLink="/general-settings/banners"
        routerLinkActive="activeTab"
        class="eachTab"
        >Banners</a
    >
</div>
<main>
    <router-outlet></router-outlet>
</main>
