.gridView {
    display: flex;
    gap: 21px;
    .leftSide {
        display: flex;
        flex-direction: column;
        gap: 21px;
        flex: 1 300px;
        width: 300px;
        .userProf {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: var(--border);
            height: 317px;

            .userImg {
                padding: 6px;
                border-radius: 100%;
                border: 1px solid #f8253a;
                margin-bottom: 12px;
                position: relative;
                img {
                    width: 118.3px;
                    height: 119.32px;
                    // object-fit: cover;
                    border-radius: 50%;
                    position: relative;
                }
                .edit {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    background-color: #f8253a;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 60%;
                    left: 70%;
                }
            }
            .fullname {
                font-size: 18px;
            }
            .status {
                margin-top: 11px;
                padding: 7px 15px;
                background-color: #ffe5e7 !important;
                display: flex;
                align-items: center;
                justify-self: center;
            }
            .btnCont {
                margin-top: 30px;
                padding: 7px 20px !important;
            }
        }
        .contactDet {
            border-radius: 10px;
            border: var(--border);
            padding: 42px 37px;
            .eachInfo {
                display: flex;
                align-items: flex-start;
                gap: 12px;
                margin-bottom: 20px;
                .iconCont {
                    // margin-top: 3px;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .rightSide {
        border: var(--border);
        border-radius: 10px;
        flex: 2 400px;
        width: 400px;
        form {
            padding: 20px;
            .gridCont {
                display: flex;
                gap: 0 20px;
                flex-wrap: wrap;
                .formGroup {
                    flex: 1 300px;
                    width: 300px;
                }
            }
        }
    }
}
