<div class="timerCont" [class.timeWarning]="warning" [class.stopped]="stopped">
    <div class="timeFrac">
        <b>{{d | number:'2.0-0'}}</b>
        <span>Days</span>
    </div>
    <b>:</b>
    <div class="timeFrac">
        <b>{{h | number:'2.0-0'}}</b>
        <span>Hrs</span>
    </div>
    <b>:</b>
    <div class="timeFrac">
        <b>{{m | number:'2.0-0'}}</b>
        <span>Mins</span>
    </div>
    <b>:</b>
    <div class="timeFrac">
        <b>{{s | number:'2.0-0'}}</b>
        <span>Secs</span>
    </div>
</div>