<header>
    <div id="greetings" [class.hidden]="!isDashboard">
        <div class="h2">Welcome Shopperz!</div>
        <div class="greyTxt">1 October 2022 | 11:59 AM GMT</div>
    </div>
    <div class="rightPart">
        <div class="iconItem">
            <div class="iconCont">
                <svg-icons name="bell"></svg-icons>
                <span class="count">4</span>
            </div>
        </div>
        <div class="iconItem">
            <div class="profileCont">
                <img src="assets/images/profile-default.png" alt="Profile" />
                <span class="online"></span>
            </div>
        </div>
    </div>
</header>
