<div class="editPass">
    <div class="fs15 fw700 mb8">Change Password</div>
    <p class="greyTxt mb35">Secure your account with your preferred password</p>
    <form [formGroup]="passForm" (ngSubmit)="submit()">
        <div class="gridCont">
            <div class="formGroup">
                <label for="curpas" class="req">Current Password</label>
                <input type="password" formControlName="current_password" />
            </div>

            <div class="formGroup">
                <label for="newpas" class="req">New Password</label>
                <input type="password" formControlName="password" />
            </div>
            <div class="formGroup">
                <label for="confnewpass" class="req"
                    >Confirm New Password</label
                >
                <input type="password" formControlName="confnewpass" />
            </div>
        </div>
        <div class="actions">
            <button class="greyBtn">Cancel</button>
            <submit-btn
                btnTxt="Update"
                [loading]="submitting"
                [disabled]="passForm.invalid"
            ></submit-btn>
        </div>
    </form>
</div>
