<div class="editPass">
    <strong>Change Password</strong>
    <p class="greyTxt">Secure your account with your preferred password</p>
    <form [formGroup]="passForm" (ngSubmit)="submit()">
        <div class="formBody">
            <div class="edit">
                <div class="left">
                    <div class="formGroup">
                        <label for="curpas" class="req">Current Password</label>
                        <input type="password" formControlName="current_password" />
                    </div>

                    <div class="formGroup">
                        <label for="newpas" class="req">New Password</label>
                        <input type="password" formControlName="password" />
                    </div>
                </div>
                <div class="right">
                    <div class="formGroup">
                        <label for="confnewpass" class="req"
                            >Confirm New Password</label
                        >
                        <input type="password" formControlName="confnewpass" />
                    </div>
                </div>
            </div>

            <div class="actions">
                <button class="greyBtn">Cancel</button>
                <submit-btn
                    btnTxt="Update"
                    [loading]="submitting"
                    [disabled]="passForm.invalid"
                ></submit-btn>
            </div>
        </div>
    </form>
</div>
