.imageUpload {
    .uploadFlex {
        display: flex;
        align-items: flex-end;
        margin-bottom: 14px;
        gap: 15px;
    }
    .imgCont {
        width: 242px;
        height: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: var(--border);
        border-radius: 6px;
        border-style: dashed;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .greyBtn {
        width: fit-content;
        padding: 0 16px;
        height: 35px;
        border: var(--border);
    }
}
