<app-page-head pageTitle="Notifications">
    <div id="headBtnCont">
        <button
            class="primBtn"
            [openModal]="createNoti"
            *ngIf="selectedTab == 1"
        >
            <svg-icons name="plus"></svg-icons>
            <span>Create New</span>
        </button>
        <button
            class="primBtn"
            [openModal]="createNoti2"
            *ngIf="selectedTab == 2"
        >
            <svg-icons name="plus"></svg-icons>
            <span>Create New</span>
        </button>
    </div>
</app-page-head>
<div id="tabCont">
    <a
        class="eachTab"
        routerLink="/administrator/notifications/admin"
        routerLinkActive="activeTab"
    >
        Admin Notification
    </a>
    <a
        class="eachTab"
        routerLink="/administrator/notifications/user"
        routerLinkActive="activeTab"
    >
        User Notification
    </a>
</div>
<main>
    <router-outlet></router-outlet>
</main>

<div id="modals">
    <app-modal #createNoti [closeModal]="closeModal">
        <div class="modalContent">
            <div class="modalHead">
                <div class="modalTitle">Add Customer</div>
                <span class="closeBtn">
                    <svg-icons name="times"></svg-icons>
                </span>
            </div>
            <div class="modalBody">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="formBody">
                        <app-custom-scroll>
                            <div class="formGroup">
                                <label for="" class="req">Message Title</label>
                                <input type="text" formControlName="title" />
                            </div>
                            <div class="formGroup">
                                <label for="" class="req">Enter Message</label>
                                <textarea
                                    name="admin"
                                    formControlName="message"
                                    cols="10"
                                    rows="5"
                                ></textarea>
                            </div>

                            <div class="formGroup">
                                <label for="rankSelect">Select Admin</label>
                                <custom-select
                                    placeholder="All"
                                    [fc]="f('admin')"
                                    [options]="adminOpts"
                                >
                                    <div
                                        *ngFor="let option of adminOpts"
                                        class="option"
                                    >
                                        {{ option?.txt }}
                                    </div>
                                </custom-select>
                            </div>
                            <div class="formGroup">
                                <label for="rankSelect">Select Store</label>
                                <custom-select
                                    placeholder="All"
                                    [fc]="f('location')"
                                    [options]="storeOpts"
                                >
                                    <div
                                        *ngFor="let option of storeOpts"
                                        class="option"
                                    >
                                        {{ option?.txt }}
                                    </div>
                                </custom-select>
                            </div>
                        </app-custom-scroll>
                    </div>
                    <div class="btnCont">
                        <button
                            type="button"
                            class="greyBtn"
                            (click)="closeModal.next(true)"
                        >
                            Cancel
                        </button>
                        <submit-btn
                            btnTxt="Send"
                            clss="primBtn"
                            [loading]="submitting"
                            [disabled]="!form.valid"
                        >
                        </submit-btn>
                    </div>
                </form>
            </div>
        </div>
    </app-modal>
    <app-modal #createNoti2 [closeModal]="closeModal">
        <div class="modalContent">
            <div class="modalHead">
                <div class="modalTitle">Add Customer</div>
                <span class="closeBtn">
                    <svg-icons name="times"></svg-icons>
                </span>
            </div>
            <div class="modalBody">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="formBody">
                        <app-custom-scroll>
                            <div class="formGroup">
                                <label for="" class="req">Message Title</label>
                                <input type="text" formControlName="title" />
                            </div>
                            <div class="formGroup">
                                <label for="" class="req">Enter Message</label>
                                <textarea
                                    name="admin"
                                    formControlName="message"
                                    cols="10"
                                    rows="5"
                                ></textarea>
                            </div>

                            <div class="formGroup">
                                <label for="rankSelect">Select Admin</label>
                                <custom-select
                                    placeholder="All"
                                    [fc]="f('admin')"
                                    [options]="adminOpts"
                                >
                                    <div
                                        *ngFor="let option of adminOpts"
                                        class="option"
                                    >
                                        {{ option?.txt }}
                                    </div>
                                </custom-select>
                            </div>
                            <div class="formGroup">
                                <label for="rankSelect">Select Store</label>
                                <custom-select
                                    placeholder="All"
                                    [fc]="f('location')"
                                    [options]="storeOpts"
                                >
                                    <div
                                        *ngFor="let option of storeOpts"
                                        class="option"
                                    >
                                        {{ option?.txt }}
                                    </div>
                                </custom-select>
                            </div>
                        </app-custom-scroll>
                    </div>
                    <div class="btnCont">
                        <button
                            type="button"
                            class="greyBtn"
                            (click)="closeModal.next(true)"
                        >
                            Cancel
                        </button>
                        <submit-btn
                            btnTxt="Send"
                            clss="primBtn"
                            [loading]="submitting"
                            [disabled]="!form.valid"
                        >
                        </submit-btn>
                    </div>
                </form>
            </div>
        </div>
    </app-modal>
</div>
