<layout pageTitle="Stores">
    <div id="headBtnCont">
        <!-- <button class="greyOutlineBtn">
            <svg-icons name="download"></svg-icons>
            <span>Import</span>
        </button> -->
        <button
            class="primBtn"
            #addStoreModalOpener
            [openModal]="addStoreModal"
        >
            <svg-icons name="plus"></svg-icons>
            <span>Add Product</span>
        </button>
    </div>
    <app-empty-items
        *ngIf="!stores.length"
        title="No Store yet!"
        body="Here you will be able to see the list of stores you have"
    ></app-empty-items>
</layout>
<div id="modals">
    <app-modal #addStoreModal [closeModal]="closeModal">
        <div class="modalContent">
            <div class="modalHead">
                <div class="modalTitle">Add New Store</div>
                <span class="closeBtn">
                    <svg-icons name="times"></svg-icons>
                </span>
            </div>
            <div class="modalBody">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="formBody">
                        <app-custom-scroll>
                            <div class="formGroup">
                                <label for="" class="req">Store name</label>
                                <input
                                    type="text"
                                    placeholder="eg: Shopperz - Ikeja Branch"
                                    formControlName="name"
                                />
                            </div>
                            <div class="formGroup">
                                <label for="" class="req">State</label>
                                <custom-select
                                    placeholder="Choose state"
                                    [fc]="f('state')"
                                    [options]="stateOpts"
                                >
                                    <div
                                        *ngFor="let st of stateOpts"
                                        class="option"
                                    >
                                        {{ st.txt }}
                                    </div>
                                </custom-select>
                            </div>
                            <div class="formGroup">
                                <label for="" class="req">LGA</label>
                                <custom-select
                                    placeholder="Choose LGA"
                                    [fc]="f('lga')"
                                    [options]="lgaOpts"
                                >
                                    <div
                                        *ngFor="
                                            let l of lgaOpts;
                                            trackBy: trackLga
                                        "
                                        class="option"
                                    >
                                        {{ l.txt }}
                                    </div>
                                </custom-select>
                            </div>
                            <div class="formGroup">
                                <label for="" class="req">Store address</label>
                                <textarea
                                    formControlName="address"
                                    rows="5"
                                ></textarea>
                            </div>
                        </app-custom-scroll>
                    </div>
                    <div class="btnCont">
                        <button
                            type="button"
                            class="greyBtn"
                            (click)="closeModal.next(true)"
                        >
                            Cancel
                        </button>
                        <submit-btn
                            btnTxt="Submit"
                            class="primBtn"
                            [loading]="submitting"
                            [disabled]="form.invalid"
                        >
                        </submit-btn>
                    </div>
                </form>
            </div>
        </div>
    </app-modal>
</div>
