.editPass {
    padding: 52px 43px;
    border: var(--border);
    border-radius: 10px;
    height: 100vh;
    form {
        max-width: 632px;
    }
    .gridCont {
        display: grid;
        gap: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
