#tableCont {
    table {
        th,
        td {
            &:first-child {
                min-width: 44px;
                max-width: 44px;
            }
            &:nth-child(2) {
                flex: 1.5 120px;
                width: 100px;
                max-width: 120px;
            }
            &:nth-child(3) {
                flex: 0.5 119px;
                width: 100px;
                min-width: 90px;
                max-width: 100px;
            }
            &:nth-child(4) {
                max-width: 32px;
                min-width: 180px;
                flex: 1 139px;
                width: 142px;
            }
            &:nth-child(5),
            &:nth-child(6) {
                max-width: 200px;
                min-width: 171px;
                width: 100px;
            }
            &:nth-child(7),
            &:nth-child(8) {
                max-width: 200px;
                min-width: 50px;
                width: 80px;
                display: flex;
                justify-content: center;
                svg[name="edit"]{
                    cursor: pointer;
                }
            }
            }
            &:nth-child(9) {
                max-width: 85px;
                min-width: 85px;
            }
        }
    }
    


#tableCont {
    #topActions {
        ::ng-deep .cusDropdown {
            .customInput {
                .value {
                    &::before {
                        content: "Status:";
                    }
                    margin-right: 20px;
                }
            }
        }
    }
}
