$primary: var(--primary);
$secondary: var(--seccondary);
// $secBtn: #FFEBED;
$activeBg: #ecfdf3;
$inactiveBg: #f2f4f7;
$pendingBg: #ffebed;
$shippedBg: #eaeeff;
$txtDark: var(--bodyTxt);
$txtLight: var(--txtLight);
$border: var(--border);
