$primary: var(--primary);
$secondary: var(--seccondary);
// $secBtn: #FFEBED;
$activeBg : #ECFDF3;
$inactiveBg: #F2F4F7;
$pendingBg: #FFEBED;
$shippedBg: #EAEEFF;
$txtDark: #292931;  
$txtLight: #A6A5B2;
$border: 1px solid #D6D9DE;
