$primary: var(--primary-color);
$secondary: var(--seccondary-color);
$activeBg : #ECFDF3;
$inactiveBg: #F2F4F7;
$pendingBg: #FFF3E7;
$shippedBg: #EAEEFF;
$txtDark: #292931;
$txtLight: #A6A5B2;
$border: 1px solid #D6D9DE;
