<layout pageTitle="Order Details">
    <div id="headBtnCont">
        <div class="status {{ orderStatus }}">
            <span></span>
            <span>{{ orderStatus }}</span>
        </div>
    </div>
    <div id="orderDetCont">
        <div class="orderDet">
            <div class="profImg">
                <img
                    src="assets/images/profile-default.png"
                    alt="profile-img"
                />
            </div>
            <div class="profName">
                <strong> Foloshade Adenuga </strong>
            </div>
            <div class="profExt">
                <span class="greyTxt">07066091112</span>
                <span class="greyTxt">Harolashade@gmail.com</span>
            </div>
        </div>
        <div class="orderDet">
            <div class="orderInf">
                <span class="greyTxt">Order Information</span>
                <div>
                    <span>Order Id:</span>
                    <span>SHI-122546</span>
                </div>
                <div>
                    <span>Date:</span>
                    <span>03/06/2023 06:30PM</span>
                </div>
                <div>
                    <span>Order Type:</span>
                    <span>Home Delivery</span>
                </div>
                <div>
                    <span>Payment Method:</span>
                    <span>Bank Trannfer</span>
                </div>
            </div>
        </div>
        <div class="orderDet">
            <div class="shipDet">
                <span class="greyTxt">Shipping Address</span>
                <div>
                    <span
                        >117-195 Iroquois Ave London, ON N6C 2K9, Ikeja
                        Lagos</span
                    >
                </div>
                <div class="orderCount">
                    <div>
                        <strong>150</strong>
                        <div class="greyTxt">Total Order</div>
                    </div>
                    <div>
                        <strong>140</strong>
                        <div class="greyTxt">Completed</div>
                    </div>
                    <div>
                        <strong>10</strong>
                        <div class="greyTxt">Canceled</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</layout>
