<layout pageTitle="Category">
    <div id="headBtnCont">
        <button class="primBtn" [openModal]="addCatModal">
            <svg-icons name="plus"></svg-icons>
            <span>Add Category</span>
        </button>
    </div>
    <div id="tableCont">
        <div id="topActions">
            <div class="searchCont">
                <input type="text" placeholder="Search categories..." />
                <svg-icons name="search"></svg-icons>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table-responsive">
                <thead>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Sub-Categories</th>
                    <th>Date Created</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let cat of categories">
                        <td>
                            {{ cat.id }}
                        </td>
                        <td>
                            <div class="withImg">
                                <img [src]="cat.img_url" alt="product_img" />
                                <span>{{ cat?.name }}</span>
                            </div>
                        </td>
                        <td>
                            {{ cat.sub_cat }}
                        </td>
                        <td>
                            {{ cat.date_created | date : "dd/mm/yyyy" }}
                        </td>
                        <td>
                            <div class="cusDropdown tableDataDropdwn">
                                <div appDropdown class="clickable">
                                    <svg-icons name="vEllipsis"></svg-icons>
                                </div>
                                <div class="dropped">
                                    <div class="dropItem">Edit</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</layout>
<div id="modals">
    <app-modal #addCatModal [closeModal]="closeModal" (onClose)="onClose()">
        <div class="modalContent">
            <div class="modalHead">
                <div class="modalTitle">Add Category</div>
                <span class="closeBtn">
                    <svg-icons name="times"></svg-icons>
                </span>
            </div>
            <div class="modalBody">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="formBody">
                        <app-custom-scroll>
                            <div class="formGroup">
                                <label for="" class="req">Category name</label>
                                <input type="text" formControlName="cat_name" />
                            </div>
                            <div class="formGroup">
                                <label for="">Category picture</label>
                                <app-file-upload
                                    [fc]="f('cat_img')"
                                ></app-file-upload>
                            </div>
                        </app-custom-scroll>
                    </div>
                    <div class="btnCont">
                        <button
                            type="button"
                            class="greyBtn"
                            (click)="closeModal.next(true)"
                        >
                            Cancel
                        </button>
                        <submit-btn
                            btnTxt="Submit"
                            clss="primBtn"
                            [loading]="submitting"
                            [disabled]="form.invalid"
                        >
                        </submit-btn>
                    </div>
                </form>
            </div>
        </div>
    </app-modal>
</div>
