<div
    class="cusDropdown customSelect {{ uniqueId }} {{ innerClose }}"
    id="{{ uniqueId }}"
    #customSelect
    [class.cusReadonly]="readonly"
>
    <div
        class="clickable inputCont"
        appDropdown
        [innerClose]="innerClose"
        [closeDropdown]="closeDropdwn"
        (onDropChng)="onDropChng.emit($event)"
    >
        <ng-content select=".preIcon"></ng-content>
        <div class="customInput">
            <ng-container *ngIf="!valueTxt">
                <span
                    *ngIf="!options[selectedOption]?.txt"
                    class="cusPlaceholder"
                    >{{ placeholder }}</span
                >
                <div *ngIf="options[selectedOption]?.txt" class="value">
                    {{ options[selectedOption]?.txt }}
                </div>
            </ng-container>
            <div *ngIf="valueTxt" class="value">{{ valueTxt }}</div>
        </div>
        <i class="fa fa-caret-down"></i>
    </div>
    <div class="dropped vScrlB" (click)="dropClick($event)">
        <ng-content></ng-content>
    </div>
</div>
